
<div>
    
    @*<input type="checkbox" ng-model="newAdoService.adoDetailsTabIsValid">
    This checkbox is bound to the newAdoService.adoDetailsTabIsValid property and will be set
    by a validation method in the controller*@
    <button class="button tiny text-left small-12" type="button" data-ng-click="autoOrderDetail.productListExpanded = !autoOrderDetail.productListExpanded">
        ADD NEW ITEM TO ADO<i data-ng-class="{ 'fa-sort-desc': !autoOrderDetail.productListExpanded, 'fa-sort-asc': autoOrderDetail.productListExpanded }" class="right fa fa-sort-desc"></i>
    </button>

