<div ng-show="ParentAddressFailsValidation">

    <div ng-show="SuggestedAddress">
        <hr>

         <input id="addressSource" type="radio" ng-model="addressSource" name="addressSource" value="suggested" data-ng-change="selectAddress('suggested')" data-ng-click="clickthis()">
        <label for="addressSource" >Is this the address you mean?</label>

        <div class="address-line">
            <span class="ng-binding" data-ng-bind="SuggestedAddress.address1"></span>
        </div>

        <div class="address-line">
            <span class="ng-binding" data-ng-bind="SuggestedAddress.address2"></span>
        </div>
        <div class="address-line">
            <span class="ng-binding" data-ng-bind="SuggestedAddress.city"></span>
            ,
            <span class="ng-binding" data-ng-bind="SuggestedAddress.state"></span>
            <span class="ng-binding" data-ng-bind="SuggestedAddress.zip"></span>
        </div>
    </div>

    <hr>

    <input id="addressSourceOverride" type="radio" ng-model="addressSource" name="addressSource" value="override" data-ng-change="selectAddress('override')">
    <label for="addressSourceOverride" >I am sure I want to use this address</label>

</div>