<div ng-show="ParentAddressFailsValidation">

    <div ng-if="SuggestedAddress">
        <hr>
        <div>The address you entered did not pass validation.  Please select from the following options:</div>
        <h5 ng-click="selectSuggested()">Suggested</h5>

        <div class="address-line">
            <span class="ng-binding" data-ng-bind="SuggestedAddress.address1"></span>
        </div>

        <div class="address-line">
            <span class="ng-binding" data-ng-bind="SuggestedAddress.address2"></span>
        </div>
        <div class="address-line">
            <span class="ng-binding" data-ng-bind="SuggestedAddress.city"></span>
            ,
            <span class="ng-binding" data-ng-bind="SuggestedAddress.state"></span>
            <span class="ng-binding" data-ng-bind="SuggestedAddress.zip"></span>
        </div>
    </div>

    <hr>
    <h5 ng-click="selectOriginal()">Force to use this address (original or newly edited)</h5>


    <div >
        <div class="address-line">
            <input class="ng-binding" data-ng-model="CopyOfParentAddress.address1"></span>
        </div>

        <div class="address-line">
            <span class="ng-binding" data-ng-bind="CopyOfParentAddress.address2"></span>
        </div>
        <div class="address-line">
            <span class="ng-binding" data-ng-bind="CopyOfParentAddress.city"></span>
            ,
            <span class="ng-binding" data-ng-bind="CopyOfParentAddress.state"></span>
            <span class="ng-binding" data-ng-bind="CopyOfParentAddress.zip"></span>
        </div>
    </div>

</div>